{% extends "components/layout.html" %}

{% block title %}Home{% endblock %}
{% block content %}
    <div>
        <article class="message is-dark is-large">
            <div class="message-header">
                <h1 class="title has-text-white"><strong>{{modelo}}</strong></h1>
            </div>
        </article>
    
        <div class="columns is-multiline">
            <div class="column is-half">
                    {{existencias.to_html(classes='table is-bordered is-striped is-hoverable is-fullwidth') | safe}}
            </div>
        
            <div class="column">
                <div class="has-text-centered">                     
                    <img src = http://sfan.ddns.net:2090/SF/{{modelo}}.jpg width=350 height=350 alt='imagen articulo'/>
                </div>
                <hr>
                <p class="subtitle is-4 has-text-info ml-6"><strong>Precio Público:</strong> ${{data.precio}}<br></p>
                <p class="subtitle is-4 has-text-danger-dark ml-6"><strong>Descuento:</strong> {{data.descuento}}%<br></p>
                <p class="subtitle is-4 has-text-success-dark ml-6"><strong>Precio Tienda:</strong> ${{data.precio_tienda}} <br></p>
                <p class="subtitle is-4 has-text-info ml-6"><strong>Línea:</strong> {{data.linea}}<br></p>
                <p class="subtitle is-4 has-text-info ml-6"><strong>Marca:</strong> {{data.marca}}<br></p>
                <p class="subtitle is-4 has-text-info ml-6"><strong>Subcategoría:</strong> {{data.subcategoria}}<br></p>
                <p class="subtitle is-4 has-text-info ml-6"><strong>Descripción:</strong> {{data.descripcion}}<br></p>                   

            </div>
        </div>
    </div>


{% endblock %}