{% extends "components/layout.html" %}

{% block title %}Mejores Artículos{% endblock %}
{% block content %}
    <div>
        <br><br>
        <article class="message is-dark is-large mt-2">         
            <div class="message-header">              
              <h1><strong>Inventario Físico</strong></h1>              
            </div>          
        </article>

      <div class="columns is-multiline">
        <div class="column is-one-quarter has-text-centered">    
          <div class="field has-addons mt-6">
            <div class="control is-expanded">
              <div class="select">  
                <form method="POST">
                  <select name="tienda">
                    <option value="1101 BODEGA TIJUANA SPORTS FAN">1101 BODEGA TIJUANA SPORTS FAN</option>  
                    <option value="1203 RIO 3	">1203 RIO 3</option>
                    <option value="1205 MACROPLAZA">1205 MACROPLAZA</option>
                    <option value="1207 MACROPLAZA 2">1207 MACROPLAZA 2</option>
                    <option value="1211 PALMAS">1211 PALMAS</option>
                    <option value="1213 SENDEROS TIJUANA I EVF">1213 SENDEROS TIJUANA I EVF</option>
                    <option value="1215 SENDEROS TIJUANA II EVF">1213 SENDEROS TIJUANA II SF</option>
                    <option value="1219 MEXICALI 1">1219 MEXICALI 1</option>
                    <option value="1221 MEXICALI 2">1221 MEXICALI 2</option>
                    <option value="1225 ENSENADA 1">1225 ENSENADA 1</option>
                    <option value="1227 ENSENADA 2">1227 ENSENADA 2</option>
                    <option value="1229 ENSENADA 3">1229 ENSENADA 3</option>
                  </select>
              </div>
            </div>
          </div>
          <div class="mt-6">
            <label>Escaneo excel: <input type="file" name="xls"></label> 
          </div> 
          <div class="mt-6">
            <input type="submit" class="button is-primary" value="Generar Diferencias">
          </div>
              </form>
        
      </div>

      <div class="column has-text-centered is-fullwidth">
          
      </div>
{% endblock %}