{% block header %}
<header>

    <nav class="navbar is-white has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="http://www.sportsfan.com.mx">
            <img src="https://cdn.shopify.com/s/files/1/0284/3046/7144/files/Logo_SF_180x.png?v=1589620799" alt="logoimg"></img>
          </a>
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div class="navbar-menu is-center">
          <div class="navbar-start">
              <a class="navbar-item">Dashboard</a>
              <a class="navbar-item">Artículos</a>
              <a class="navbar-item" href="/inventario">Inventario</a>
              <a class="navbar-item" href="/mejores">Mas vendidos</a>
              <a class="navbar-item">Ventas</a>             
          </div>
                
        </div>
              
              <div class="navbar-end">
                  <div class="navbar-item">
                    <form action="/existencias/">
                      <div class="field has-addons">
                          <div class="control">
                              <input class="input" type="text" placeholder="Modelo" name="modelo">
                          </div>
                          <div class="control">
                              <button type="submit" class="button is-black">Buscar</button>
                          </div>
                      </div>
                  </form>
                  </div>
            
              </div>
      
        </div>
      </nav>

</header>
{% endblock %}