{% block header %}
<header>

    <nav class="navbar is-white has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item">
            <img src="https://cdn.shopify.com/s/files/1/0284/3046/7144/files/Logo_SF_180x.png?v=1589620799" alt="carritoimg"></img>
          </a>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample is-center">
        <div class="navbar-start">
                <a class="navbar-item">Dashboard</a>
                <a class="navbar-item">Ventas</a>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-a">Mejores Articulos</a>
                  <div class="navbar-dropdown">
                    <a class="navbar-item">Total</a>
                    <a class="navbar-item">Rio 3</a>
                    <a class="navbar-item">Macroplaza</a>
                    <a class="navbar-item">Macroplaza 2</a>
                    <a class="navbar-item">Palmas</a>
                    <a class="navbar-item">Senderos EVF</a>
                    <a class="navbar-item">Senderos SF</a>
                    <a class="navbar-item">Ensenada 1</a>
                    <a class="navbar-item">Ensenada 2</a>
                    <a class="navbar-item">Ensenada 3</a>
                    <a class="navbar-item">Mexicali 1</a>
                    <a class="navbar-item">Mexicali 2</a>
                    <a class="navbar-item">Las Torres</a>
                    <a class="navbar-item">Gran Patio</a>
                  </div>
                  
                </div>
                
              </div>
              
              <div class="navbar-end">
                  <div class="navbar-item">
                      <Input />
                  </div>
            
              </div>
      
        </div>
      </nav>

</header>
{% endblock %}