{% extends "components/layout.html" %}

{% block title %}Sportsfan - Home{% endblock %}
{% block content %}
    <div class="hero is-black is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-4">
                        <form action="/login" method="POST" class="box">
                            <div class="field">
                                <label class="label">
                                    Email:
                                </label>
                                <div class="control has-icons-left">
                                    <input name="username" type="email" class="input" placeholder="correo electronico">
                                    <span class="icon is-small is-left">
                                        <i class="mdi mdi-account"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">
                                    Password:
                                </label>
                                <div class="control has-icons-left">
                                    <input name="password_user" type="password" class="input" placeholder="contraseña">
                                    <span class="icon is-small is-left">
                                        <i class="mdi mdi-lock"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <button class="button is-dark is-fullwidth">Entrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}